/* Write your CSS here */
.app-item {
  background-color: aliceblue;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  margin: 20px;
}
.image {
  height: 100px;
  width: 100px;
}
